@charset "utf-8";

.text {
    padding: 20px;
    flex: 10;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
    outline: none;
}

.file {
    position: absolute;
    top: 0;
    right: 0;
    /* 放大input */
    font-size: 120px;
    /* 光标: pointer 手指*/
    cursor: pointer;
    /* 透明度 */
    opacity: 0;
}

#submit {
    flex: 0.15;
    font-size: 30px;
    background: royalblue;
    color: white;
    border-radius: 50px;
    margin: 30px;
    outline: none;
}








