@charset "utf-8";

.text {
    padding: 20px;
    flex: 4;
    box-sizing: border-box;
    font-size: 30px;
    border: none;
    outline: none;
}

.hint, .length {
    margin: 20px;
    font-size: 30px;
}

.length {
    color: orange;
}




.results .radio-box {
    flex: 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    color: royalblue;
}


