<!DOCTYPE html>
<!-- html标签：最大，约束 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head 头部 -->
<!-- 网页的基本信息 -->
<head>
    <!-- charset 设置编码格式 -->
    <meta charset="utf-8"/>
    <!-- title 网页名称 -->
    <title>百度AI-地址识别</title>

    <!-- 1.创建外部css文件 -->
    <!-- 2.在head标签内部使用link导入外部样式 -->
    <!-- 3.href 可以通过url、相对、绝对地址访问 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nlp/address_class.css}" href="css/nlp/address_class.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" href="css/result.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}" href="css/body.css"/>

    <!-- Jquery脚本框架：轻量级，完美嵌入原生js -->
    <!-- 导包 -->
    <script th:src="@{/js/jquery-3.5.1.js}" src="js/jquery-3.5.1.js" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/nlp/address.js}" src="js/nlp/address.js" type="text/javascript" charset="utf-8"></script>
</head>
<!-- body 身体 -->
<!-- 可视化区域、功能区域、主体 -->
<body>

<!-- class（重复） 标签属性：功能作用  -->
<!-- id（唯一）可以用于查询  -->
<div class="box" id="box">
    <!-- 标题 -->
    <h1>功能-地址识别</h1>
    <!-- 输入区域 -->
    <!-- 运行 ctrl+r -->
    <div class="input">
        <!-- textarea 多行输入框 -->
        <!-- 设置长度 maxlength -->
        <!-- 占位符 maxlength 显示默认文字（提示） -->
        <!-- 行内样式 style  -->
        <!-- resize: none; 取消用户控制输入框的大小 -->
        <textarea class="text" id="text" placeholder="输入...." maxlength="300" style="resize: none;"></textarea>

        <p class="hint">
            还可以输入
            <span class="length" id="length">300</span>
            字
        </p>
    </div>

    <!-- 分析结果 -->
    <div class="results">
        <p>识别结果</p>
        <div>
            <span>省份</span>
            <p id="province"></p>
        </div>
        <div>
            <span>城市</span>
            <p id="city"></p>
        </div>
        <div>
            <span>县</span>
            <p id="county"></p>
        </div>
        <div>
            <span>街道</span>
            <p id="town"></p>
        </div>
        <div>
            <span>姓名</span>
            <p id="person"></p>
        </div>
        <div>
            <span>详细地址</span>
            <p id="detail"></p>
        </div>
        <div>
            <span>手机号</span>
            <p id="phonenum"></p>
        </div>
    </div>
    <!-- 按钮 -->
    <button id="submit" type="button">开始分析</button>
</div>

</body>
</html>
