@charset "utf-8";

.file_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    /* 放大input */
    font-size: 120px;
    /* 光标: pointer 手指*/
    cursor: pointer;
    /* 透明度 */
    opacity: 0;
}
.file_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    /* 放大input */
    font-size: 120px;
    /* 光标: pointer 手指*/
    cursor: pointer;
    /* 透明度 */
    opacity: 0;
}

.show_img{
    height: 50% !important;
}

.input{
    flex: 3 !important;
}

.results{
    flex: 1 !important;
}
